<div class="container__complete-card">
    <app-menu-bar></app-menu-bar>
    <div class="container__cards">
        <app-main-card titleCardsGeneral="Bridges around the world" 
            imageCard="https://www.touropia.com/gfx/b/2010/03/great_belt_bridge.jpg" 
            titleCard="Great Belt Bridge"
            descriptionCard="The Great Belt bridge is actually two bridges – an Eastern and a Western section, split by the small island of Sprogø. The East Bridge, a 1,624 meter (5,328 feet) long suspension bridge crosses the deepest part of Storebælt between the island of Zealand and Sprogø.
            It has the third longest main span in the world. At 254 meter (833 feet) above sea level, the East Bridge’s two pylons are the highest points in Denmark. The West Bridge is a 6,611 meter (21,689 feet) long combined rail and road bridge between Sprogø and Funen."
            id="1">
        </app-main-card>

        <div class="content__cards-rigth">
            <app-title-rigth-cards></app-title-rigth-cards>
            <div class="container__cards-rigth">
                    <app-card-rigth class="detail-rigth-card"
                    imageCardRigth="https://www.touropia.com/gfx/b/2010/03/sydney_harbour_bridge.jpg"
                    titleCardRigth="Sydney Harbour Bridge" 
                    id="2">
                    </app-card-rigth>
                
                
                <app-card-rigth class="detail-rigth-card"
                    imageCardRigth="https://www.touropia.com/gfx/b/2010/03/alcantara_bridge-1.jpg"
                    titleCardRigth="Alcantara Bridge" 
                    id="3">
                </app-card-rigth>

                <app-card-rigth class="detail-rigth-card"
                    imageCardRigth="https://www.touropia.com/gfx/b/2010/03/brooklyn_bridge.jpg"
                    titleCardRigth="Brooklyn Bridge" 
                    id="4">
                </app-card-rigth>

                <app-card-rigth class="detail-rigth-card"
                    imageCardRigth="https://www.touropia.com/gfx/b/2010/03/chapel_bridge.jpg"
                    titleCardRigth="Chapel Bridge" 
                    id="5">
                </app-card-rigth>

                <app-card-rigth class="detail-rigth-card"
                    imageCardRigth="https://www.touropia.com/gfx/b/2010/03/si_o_se_pol.jpg"
                    titleCardRigth="Si-o-se Pol" 
                    id="6">
                </app-card-rigth>

                <app-card-rigth class="detail-rigth-card"
                    imageCardRigth="https://www.touropia.com/gfx/b/2010/03/tower_bridge.jpg"
                    titleCardRigth="Tower Bridge" 
                    id="7">
                </app-card-rigth>

                <app-card-rigth class="detail-rigth-card"
                    imageCardRigth="https://www.touropia.com/gfx/b/2010/03/akashi_kaikyo_bridge.jpg"
                    titleCardRigth="Akashi-Kaikyo Bridge" 
                    id="8">
                </app-card-rigth>

                <app-card-rigth class="detail-rigth-card"
                    imageCardRigth="https://www.touropia.com/gfx/b/2010/03/charles_bridge.jpg"
                    titleCardRigth="Charles Bridge" 
                    id="9">
                </app-card-rigth>
            
            </div>
        </div>
    </div>
</div>