* {
    background-color: #111111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

